/* CSS Document */















@import url('nivo-slider.css');



@font-face {



  font-family: 'Open Sans';



  font-style: normal;



  font-weight: 400;



  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v10/59ZRklaO5bWGqF5A9baEEVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');



  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;



}











*{ margin:0; padding:0;}















body{ margin:0; padding:0; font-size:13px;  text-align:center; position:relative; background:url(../images/bg-top.png) top repeat-x; color:#333333; font-family:Open Sans Light !important}















div{ margin:0; padding:0}















img { border:none}















ul ,li{ list-style:none}















a { text-decoration:none; color:black }















.clear{ clear:both}





.hide-on-pc{ display:none}









input.button{ width:auto !important; padding:4px 15px 4px 15px !important; background:#0799d4; color:white; font-weight:bold; cursor:pointer; border:none !important} 















.title-block{ height:37px; line-height:37px; background:url(../images/bg-title-right.png) left center repeat-x; text-transform:uppercase; text-align:center;color:#4fabd4; border:1px solid #e3e3e3; font-weight:bold; margin-bottom:1px}







.title-block2{  text-transform:uppercase; font-size:18px; padding-left:10px; font-weight:bold;  border-left:10px solid #ed1b24; margin-bottom:10px}



















h3.title, h1.title{ text-transform:none; color:#6d6d6d; font-size:23px ; background:#FFF; font-weight:normal}







h1.title2{ text-transform:none; color:#0799d4;  padding-left:10px; font-size:15px; border-left:8px solid #0799d4; line-height:20px}















h3.title a{ color:#0799d4; margin:0 0 0 0px}















div.title{ line-height:40px; overflow:hidden;  padding-left:0px; margin:15px 0 40px 0; border-bottom:1px solid #f2f2f2}















#wrapper{overflow:hidden; margin:auto;background:url(../images/bg-top.png) top repeat-x; }















.bg-top{ overflow:hidden;  padding-top:30px;}







/******************* Header ********************************/



.top-header{ height:50px; line-height:50px;  color:#6b99bb; font-size:16px;width:1204px; margin:auto}



.top-header a{ color:#6b99bb}



.top-header .left{ overflow:hidden; float:left}



.top-header .right{  float:right}



.top-header li{ display:inline; background:url(../images/border-li-top.png) right center no-repeat; float:left; margin:0 20px 0 0; padding-right:20px; position:relative}

.top-header li:last-child{ background:none}

.top-header .icon1{ background:url(../images/icon-phone.png) left center no-repeat; padding-left:28px}



.top-header .icon2{ background:url(../images/icon-mail.png) left center no-repeat; padding-left:28px}



.top-header .kt{ background:url(../images/icon-kt.png) left center no-repeat; padding-left:28px}



.top-header .sub{ position:absolute; top:41px; left:-30px; width:230px; z-index:9; background: url(../images/bg-ul.png) 50px top no-repeat; overflow:hidden; padding-top:14px; display:none}



.top-header .right li:hover .sub{ display:block}



.top-header .right ul{ overflow:hidden;width:100%; background:url(../images/bg-mid-ul.png) center repeat-y;}



.top-header .right ul li{ display:block; clear:both; line-height:35px !important; background: url(../images/icon-li-sub.png) 8px center no-repeat; padding-left:20px; border-bottom:1px solid #efefef; overflow:hidden;width:210px; text-align:left}







.top-header .right ul li a{ color:#747474}



.top-header .right ul li a:hover{ color:#6b99bb}







#header{margin:auto; clear:both;width:100%;  display:block;width:1204px; margin:auto}







#header .banner{text-align:left; overflow:hidden; position:relative; float:left;width:230px }















.banner img{ max-width:100%}















.menuTop{height:120px; line-height:120px ;width:100%; position:relative}















.menuTop ul{}















.menuTop li{ display:inline-block; text-align:center;position:relative;   float:left;   margin:0 0px 0 1px;width:auto; padding:0 20px 0 20px}







.menuTop li.last{ padding:0; }







.menuTop li:last-child{ background:none; margin-right:0}















.menuTop li a{ font-size:17px; color:#4b4b4b}















.menuTop li:hover , .menuTop li.active {}















.menuTop li:hover a,.menuTop a:hover ,.menuTop li.active a{ color:#098cd7 }















/*************************** Sub menu********************/















.menuTop ul li ul.sub{position:absolute; top:75px; left:0px;width:230px; height:87px; z-index:99999; display:none; visibility:visible; padding-top:10px; background:url(../images/bg-ul-sub.png) top center no-repeat; overflow:hidden}



.box-search{ background:none;width:300px; position:absolute; top:72px; right:0; display:none; padding-top:10px}











.menuTop ul li:hover ul{ display:block}







.menuTop ul li:hover ul ul{ display:none}















.menuTop ul li ul li{ text-align:left;  line-height:32px !important; padding-left:10px;  margin:5px 5px 5px 20px; border-bottom:1px solid #e5e5e5; display:block; float:none; background:url(../images/icon-li-sub.png) left center no-repeat !important; position:relative}











.menuTop ul li ul li:last-child{ border:none}















.menuTop ul li ul li a{ color:#7a7a7a !important;  background:none !important; border:none !important; padding:0 0 0 10px}







.menuTop ul ul ul{ position:absolute; top:-1px; left:200px;width:200px; padding:0; display:none;}



.menuTop ul ul ul li{background:#ff9c00 !important}



.menuTop ul ul ul li a:hover{ text-decoration:underline}



.menuTop ul ul li:hover ul{ display:block}







p.cart{ line-height:30px; text-align:right}















p.cart a{ color:white; text-transform:uppercase; background:url(../images/icon-cart.png) left center no-repeat; padding-left:35px}



.icon-search{ display:inline-block;width:20px; height:26px; float:right; margin:47px 0 0 0; cursor:pointer; background:url(../images/icon-search.png)}



.frmSearch{ overflow:hidden;width:290px;display:block;   border:1px solid #e5e5e5; }







#frmSearch{ overflow:hidden;width:100%}







#frmSearch input{ float:right}







#frmSearch p{ overflow:hidden;height:26px;  display:block;   margin:0px 0 0px 0; }















#frmSearch #keyword{ margin:0px 0px 0 0; color:#000; padding-left:5px;width:200px; height:20px; border:none; outline:none; font-style:italic }















#frmSearch select{width:185px; padding:1px; margin-bottom:5px}















#frmSearch #submit{  border:none; cursor:pointer;width:auto;  margin:auto; height:26px; line-height:26px !important; color:white; background:#0889da; padding:0 10px 0 10px}















#frmNewsLetter{width:500px; float:left;  text-align:left; margin:15px 0 0 10px}















#frmNewsLetter p{ overflow:hidden; color:#e8eaeb}















#frmNewsLetter input{ float:right}















#frmNewsLetter #email{width:200px; background:#FFF url(../images/icon-mail.png) left top no-repeat; padding:0px 0 0px 27px; border:none; height:23px}















#frmNewsLetter #submit{ background:#666666; color:#eff5ee; border:none; cursor:pointer; line-height:23px; width:35px}















#frmNewsLetter label{ float:left; text-transform:uppercase; line-height:25px}















.navi-right{width:341px; float:right; overflow:hidden; background:url(../images/bg-top-navi.html) top center no-repeat; }















.navi-right ul{ text-align:center}















.navi-right li{ display:inline; margin:0 5px 0 5px; font-weight:bold; text-transform:uppercase; line-height:63px}















.navi-right li a:hover{ text-decoration:underline}















/********************** Slide***********************/















.slideHome{ overflow:hidden; height:324px; background:#FFF; padding:3px; border:1px solid #ebcda7; margin:0 0 20px 0}















.slideHome ul{width:2000px; overflow:hidden}















.slideHome li{ overflow:hidden; float:left; margin-right:18px;width:255px; height:180px; text-align:center}















.slideHome li img{webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px;width:250px; height:175px; }















/*****************************  Content ************************************************/















#content{ text-align:left; padding:0px ;width:100%; margin:15px auto auto auto; overflow:hidden;}































/********************************** Left *******************************/































ul#category{margin:5px 0px 5px 0px;}















ul#category li{ margin:0 0px 0 0px; background: url(../images/icon-row.png) 5px 9px no-repeat; line-height:20px;  font-weight:bold;  padding:5px 0 5px 15px }















#category span{cursor:pointer; color:#FFF}















ul#category li.active{}















ul#category li:last-child{}















ul#category li a{  text-transform:uppercase; color:#cf0505}















ul#category li a:hover,ul#category li a.active{}















ul#category li ul{ margin:0px;}















ul#category .active ul{ display:block !important}















ul#category li ul li{ }















ul#category li li a{ text-transform:none; color:#000}































#subCate ul{ display:none;  margin:0} 















#subCate ul li{ background:none !important; padding-left:0 !important}















#subCate ul li:last-child{ border-bottom:none}















.left-content{width:225px;float:left; margin:0px 0px 0 5px; overflow:hidden; text-align:left; clear:left; }































.block-left{overflow:hidden; margin:0px 0 10px 0; border:1px solid #cf0505;}















.product-left{ overflow:hidden;width:233px; height:217px; background:url(../images/bg-product.html) center; margin:0 0 15px 0; }















.product-left .img{width:165px; margin:20px 0 0 0; float:right; max-height:150px; overflow:hidden; text-align:left; clear:both; margin-bottom:8px}















.product-left img{max-width:145px; min-height:140px}















.product-left .name{ clear:both; text-transform:uppercase; color:#e4e2e3; line-height:18px; text-align:center}















/******************************** SUPPORT ****************************/















.hotline{ margin:10px 0 0 10px; background:url(../images/icon-phone.png) left center no-repeat; line-height:55px; color:#e76915; font-size:25px; padding-left:55px; font-weight:bold; border-bottom:1px solid #CCC; font-weight:bold }







.support{ overflow:hidden;  padding:0px 0 5px 0 ; margin:5px 0px 5px 0px ;  text-align:center;  }







.support  .yahoo{margin:10px 0 0 0}







.support  img{ float:left; margin:3px 15px 0 0 }







.support p{ overflow:hidden; margin:0px 0 0 0px;   line-height:25px; text-align:left; color:#FFF; font-weight:bold; }







/******************************** Counter ****************************/































.counter{  overflow:hidden;  padding:10px 10px 15px 80px; background:url(../images/counter.html) 10px center no-repeat; }















.counter p{ line-height:20px;  overflow:hidden;  text-align:left; }































.counter p span{ text-align:right; margin-right:5px; float:right }















.left-content  .block-left .img-ads{ width:240px; overflow:hidden; margin:5px 0 10px 0; text-align:center}















































/***************************  News *******************************/















.otherNews{ overflow:hidden; margin:20px 0 0 0}











.otherNews p{ line-height:20px; margin:10px 0 0 0; background:url(../images/bullet-news.png) left 5px no-repeat; padding-left:15px}



.otherNews a{ color:#323232;}



.otherNews p span{ color:#a7a7a7; }











/*************************** RIGHT ********************************/











#frmOrder{ overflow:hidden; margin-bottom:20px}



#frmOrder p{ margin:10px 0 10px 0}



#frmOrder input,#frmOrder textarea{width:96%; margin:auto; padding:6px; border:1px solid #d7d7d7; height:22px; font-size:16px}



#frmOrder textarea{ height:100px; font-size:16px}



#frmOrder #code{width:120px;}



#frmOrder #button2{width:110px; text-align:center; height:30px !important; line-height:30px !important; padding:0; color:white; cursor:pointer; background:#2ba0ef;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}



#frmOrder img{ height:28px}



.title-right{ line-height:30px; color:#8d8d8d; font-size:22px; margin-bottom:10px}



.right-content{ overflow:hidden; width:382px; float:right; }















.block-right{ overflow:hidden;  margin-bottom:10px;}



























.block-right marquee{ margin:15px 0 0 0; text-align:center;}















.productRight li{ overflow:hidden; margin:10px 5px 15px 5px; border-bottom:1px dotted #CCC; }















.productRight li .name{ text-transform:uppercase}















.productRight li .price{ color:#0d6408}















.productRight li{ line-height:25px; font-weight:bold}















/**************** Main -content****************/















.main-content{overflow:hidden; float:left;margin:0px 0px 0 0px;width:770px; text-align:left; min-height:600px;}















#content .main-content p.top{height:17px; background:url(../images/bg-top-block-2.png) center}















#content .main-content .middel{background:url(../images/bg-middel-block-22.png)1px top repeat-y; overflow:hidden; }































#content .main-content p.bottom{height:17px; background:url(../images/bg-bottom-block-2.png) center}















.main-content .block-home{overflow:hidden;width:656px; margin:5px 0 15px 0}















.main-content .block-home p.top{ height:15px; background:url(../images/bg-top-blck-content.png) top center no-repeat}















.main-content .block-home p.bottom{ height:15px; background:url(../images/bg-bottom-blk-content.png) bottom center no-repeat; }















.main-content .block-home .middel{ overflow:hidden; background:url(../images/bg-midel-blk-content.png) center repeat-y; padding:0 5px 10px 10px; line-height:25px !important}















.main-content .block-home p.read-more{ float:right; margin:5px 5px 0 0}















.main-content .block-home p.read-more a{color:#2995a4; }















.list-product{overflow:hidden; margin:10px 0 10px 0;}















.list-product .item{overflow:hidden; width:392px; height:325px; float:left; margin:0 11px 0 0; position:relative; background:url(../images/bg-pro.png) center no-repeat}















.list-product .sale{ position:absolute; top:0; left:0; z-index:2; background:url(../images/bg-sale.png) center no-repeat;width:99px; height:57px; text-align:left }







.list-product .sale span{ margin:12px 0 0 0;transform: rotate(-17deg);







-webkit-transform: rotate(-30deg);-ms-transform: rotate(-19deg);







-moz-transform: rotate(-19deg);; display:inline-block; color:white; font-size:12px; font-family:Arial, Helvetica, sans-serif; font-style:italic; }















.list-product .last{ float:right; margin-right:0px;  }















.list-product .img {text-align:center;overflow:hidden;width:351px; height:288px;  margin:15px 0 0 18px; position:relative; }















.list-product .img img{ height:100%;width:100%}















.list-product p{line-height:22px; }















.list-product p.name{  font-size:14px; min-height:40px; line-height:20px; background:url(../images/opacity.png); position:absolute; bottom:0; left:0;width:336px; padding:5px 5px 5px 10px; z-index:8; text-align:left; display:none}







.list-product p.name a{ color:white}

.list-product p.name:hover{ font-size:15px}





.list-product .img:hover .name { display:block}































.page-content .list-product p.code{}















.list-product .order a, .item3 .order a{ background: url(../images/cart.html) left center no-repeat; padding:5px 10px 5px 25px}















.list-product .order a span,.product-item3 .order a span{ background:#ce3a52; color:white; padding:2px 10px 2px 10px; margin-left:5px}















































/****************************** User ******************************/















#frmLogin .lost-pass{ margin-left:5px}















#frmLogin .lost-pass:hover{ text-decoration:underline}















#frmLogin{ margin:5px}















#frmLogin input{width:180px; padding:1px}















#frmLogin .checkbox input{width:auto; float:left; margin:5px 5px 0 0}















#frmLogin .error{ color:red; margin-left:120px}















#frmLogin p{ overflow:hidden; margin:10px 0 10px 0; line-height:25px;}















#fldLogin{ border:none}















#fldLogin p label{width:120px; float:left}















#fldLogin p.btn{ margin-left:120px}















#btnLogin{width:auto !important; background:#e7226c; color:white; padding:5px 15px 5px 15px !important;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px; border:none; cursor:pointer; float:right; }































#frm-register{ margin:5px 0 20px 0; overflow:hidden;}















#frm-register .note-form{ margin:15px 0 15px 0}















#frm-register p {overflow:hidden; margin:10px 0 10px 0;}















#frm-register p label{width:150px; float:left; font-weight:bold}















#frm-register p label sup{ color:red}















#frm-register p.note{ font-weight:bold}















#frm-register img.captcha{ margin:0px 0 0 0;  text-align:center; }















#frm-register p.error{ margin-left:150px; color:red; font-style:italic }















#frm-register p input {width:300px; border:1px solid #d5d5d5; padding:1px}















#frm-register p.btn-submit { margin-left:150px;}















#frm-register .dieuKhoan{ font-weight:bold; cursor:pointer}















#frm-register .dieuKhoan:hover{ text-decoration:underline}















#frm-register .ghiChu{ margin:5px 0 0 150px; color:#878787; font-style:italic}















/*************** Footer ****************************************************************/















#footer{ overflow:hidden;width:100%;background:#282d30 url(../images/bottom-footer.png) bottom repeat-x;   margin:0px auto auto auto; border-top:5px solid #53575a }















.footer{width:1204px;margin:auto; text-align:left; line-height:22px;  padding:10px 0px 0 0px;color:#a6a7a9 }















.footer .counter{width:200px; overflow:hidden; float:left}







.textFooter{ line-height:27px; font-size:18px; text-align:justify; margin:30px 0 20px 0}



.textFooter img{ float:left; margin:0 20px 0 0}



.textFooter h2{ display:inline; font-size:18px; font-weight:normal}



.footer{overflow:hidden; line-height:25px; text-align:left}



.footer .bottom{ height:81px; line-height:81px; overflow:hidden}



.footer .socia-icon{ overflow:hidden;width:300px; float:left; padding:20px 0 0 0; }



.footer .socia-icon img{ margin-right:10px}



.footer table td{ line-height:32px; font-size:19px !important}

.footer table td .top{ font-size:25px; margin-bottom:15px; font-family:Open Sans Light; font-weight:normal}
.footer table td .top h1{ font-size:25px; margin-bottom:15px; font-family:Open Sans Light; font-weight:normal; display:inline}

.footer table td img{ float:left; margin:5px 5px 0 0 ; height:20px}







.backtop{width:100px; text-align:center; margin:25px auto auto auto; float:none}



.paging{  margin:15px 0 10px 0; font-size:12px; clear:both; text-align:center; overflow:hidden; line-height:25px}











.paging  a{font-size:12px;margin-right:6px; font-weight:bold; color:#5d5d5d; border:1px solid #d6d6d6; display:inline-block; height:25px; padding:0 10px 0 10px; line-height:25px}















.paging .curent {  color:white !important; background:#00b9f2; margin-right:5px; display:inline-block; height:25px; padding:0 10px 0 10px }































.paging .next { padding:6px 20px 6px 6px; font-weight:bold;background:url(../images/next-page.png) right center no-repeat; margin-right:5px }































.paging .pre { padding:6px 8px 6px 20px; font-weight:bold;background:url(../images/pre-page.png) left center no-repeat; margin-right:5px }















.paging img{ margin:10px 0px 0 0px; }







#lbOverlay {position: fixed; z-index: 9999; left: 0; top: 0; width: 100%; height: 100%; background-color: #000; cursor: pointer;}







#lbCenter, #lbBottomContainer {	position: absolute; z-index: 9999; overflow: hidden; background-color: #fff;}











.lbLoading {background: #fff url(../images/loading.gif) no-repeat center;}































































#lbImage {position: absolute; left: 0; top: 0; border: 10px solid #fff; background-repeat: no-repeat; }































































#lbPrevLink, #lbNextLink {display: block; position: absolute; top: 0; width: 50%; outline: none; }































































#lbPrevLink {left: 0;}















#lbPrevLink:hover {	background: transparent url(../images/prevlabel.gif) no-repeat 0 15%;}















#lbNextLink {right: 0;} 















#lbNextLink:hover {	background: transparent url(../images/nextlabel.gif) no-repeat 100% 15%;}































































#lbBottom {font-family: Verdana, Arial, Geneva, Helvetica, sans-serif; font-size: 10px; color: #666; line-height: 1.4em; text-align: left; border: 10px solid #fff; border-top-style: none;}































































#lbCloseLink {display: block; float: right; width: 66px; height: 22px; background: transparent url(../images/closelabel.gif) no-repeat center; margin: 5px 0; outline: none; }































































#lbCaption, #lbNumber {margin-right: 71px; }































































#lbCaption {font-weight: bold;}	































































.block-left .partner{ overflow:hidden; text-align:center}















.block-left .partner img{ margin:10px 0 10px 0}















































.page-content{ overflow:hidden; margin:0 0px 0px 0px; }































.list-cate { overflow:hidden; margin-bottom:40px }



.list-cate .top{ font-size:30px; text-align:center; text-transform:uppercase; margin-bottom:30px}



.list-cate a{ font-size:15px; font-weight:normal}







.list-cate ul{ margin:10px 0 0 0}



.list-cate li{ line-height:30px; overflow:hidden; float:left;width:130px; margin:0 0px 0 0; text-align:center; padding:0 }



.list-cate li:hover{}



.list-cate li:hover a, .block-cate a:hover, .list-cate .active a{ color:#098cd7}



.list-cate li:last-child{ margin-right:0}







.block-left p.news{ overflow:hidden; line-height:20px; margin:5px 5px 10px 5px; font-weight:bold}















.block-left p.news img{ float:left; margin-right:5px}















































/********************************* BreadCrumd ************************************/















.breadcrumb{ overflow:hidden; height:30px; line-height:30px; margin:0px 0 20px 0; background:#d8d8d8;width:100%; padding:5px 0 0 0}



.breadcrumb ul{width:100%; margin:auto}















.breadcrumb li{ float:left; color:#646464; text-transform:uppercase;margin-right:3px}







.breadcrumb .last{ background:none}







.breadcrumb li a{color:#646464}















/************************* SLIDE ********************/



























.adsLeft{ overflow:hidden; text-align:center}















.adsLeft img{ width:210px; margin:10px 0 10px 0}















































.block-ads{ overflow:hidden; text-align:center}















.block-ads img{ width:100%; margin:0px 0 10px 0; }















.block-ads .flash-item{margin:0px 0 15px 0; overflow:hidden; text-align:center}































































.page-content div.img-detail{width:760px;  float:left; margin:10px 0 15px 0; overflow:hidden; text-align: center; border:1px solid #e5e5e5; padding:10px}















.page-content .img-detail img{ text-align:center; max-width:100%;  }































div.info {width:400px;margin:10px 0 0px 0px; overflow:hidden; float:right;  position:relative;}















div.info .sapo{  font-size:12px;  line-height:25px; overflow:hidden; clear:both; font-size:14px}























div.info p.link{ line-height:35px}















div.info a,div.info .sendOrder{ padding:5px 15px 5px 15px; color:white;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}



div.info a.demo{ background:#a5c82e; margin-right:20px}



div.info .sendOrder{ background:#0889da; cursor:pointer}











.content-pro{ text-align:justify; line-height:25px; overflow:hidden; clear:both; font-size:14px}















.content-pro h3{font-size:13px; margin:0 0 15px 0px; padding:0 0 0px 0; line-height:25px;  display:block; color:#ff8a00; text-transform:none; border-bottom:1px solid #ff8a00} 







.content-pro table{ background:#CCC; margin:auto; min-width:500px}







.content-pro table tr{ background:#FFF}







.content-pro table th, .content-pro table td{ padding:5px}







































.detail-product{ margin:10px 0 15px 0; overflow:hidden; clear:both;  }















#frmWeblink select{width:200px; margin:10px 0 10px 10px}















.listAds{ overflow:hidden; text-align:center; margin:10px 0 10px 0}















.listAds a{ font-weight:bold; color:#2568ac}















.listAds img{ max-width:200px; width:auto !important;width:200px}















.block-right table{width:200px; margin: 10px auto; background:#CCC}















.block-right table tr{ background:#FFF}















.block-right table th, .block-right table td{ line-height:25px}















.block-right .news{ overflow:hidden; padding:5px}















.block-right .news  a{ color:#872603}







































.factory{ overflow:hidden; width:33%; float:right; padding-top:7px}















.factory  img{width:120px; height:62px; margin:0 5px 5px 0; float:left}















.factory  img.first{ height:130px;width:130px;}















.share{ margin:20px 0px 0px 0; overflow:hidden; clear:both; border-bottom:1px solid #CCC; padding-bottom:15px}















.share img{ float:left; margin-right:10px}















.share p{ overflow:hidden; text-align:center; color:#000; line-height:30px}















.slideProduct{ overflow:hidden; height:140px; border:1px solid;width:735px !important; border:2px solid #7e0555; margin:15px 0 15px 0}















.slideProduct ul{ overflow:hidden; height:140px;}















.slideProduct li{ float:left; display:inline;width:160px; height:120px;  text-align:center; margin:10px 10px}















.slideProduct img{ height:120px}















.slideProduct .btn-next, .slideProduct .btn-pre{ overflow:hidden; height:50px; width:50px; position:absolute; top:40px; z-index:99; cursor:pointer}















.slideProduct .btn-next{ right:0; background:url(../images/icon-right.png) center no-repeat}















.slideProduct .btn-pre{ left:0; background:url(../images/icon-left.png) center no-repeat}















.newsHome{ overflow:hidden; margin:10px 0 10px 0;width:650px; float:left; }







.newsHome .first{ overflow:hidden;width:250px; float:left; }







.newsHome img{ width:100%; margin-bottom:10px}







.newsHome h4{ margin-bottom:8px}







.newsHome a{ color:#0799d4; font-weight:bold}







.newsHome .sapo{ line-height:18px; text-align:justify; font-weight:normal !important; font-size:12px}







.newsHome p.second{ width:370px; float:right;  line-height:20px; background:url(../images/bullet.png) left 6px no-repeat; padding:0px 0 5px 15px; border-bottom:1px dotted #2688b5; margin-bottom:10px}







.contactInfo{ overflow:hidden;width:840px; float:left;}





.contactInfo table td{ line-height:32px; font-size:19px !important}

.contactInfo table td h3{ font-size:20px; margin-bottom:15px; font-family:Open Sans Light; font-weight:normal}

.contactInfo table td img{ float:left; margin:5px 5px 0 0 ; height:20px}



#frmContact { margin:0px 0 0 0px; overflow:hidden;width:350px; float:right; font-size:16px }



.left-contact{width:380px; overflow:hidden; float:left; margin-top:20px; line-height:25px; text-align:left !important}



.map{  background:url(../images/map2.html) left top no-repeat;  height:462px;}



#security{width:168px !important}



#txtContent{ height:190px !important}



#frmContact span{ color:red}



#frmContact p { overflow:hidden; margin:10px 0 5px 0; clear:both}



#frmContact p label { float:left; width:130px; font-size:12px}







#frmContact p input {width:320px; border:1px solid #d5d5d5; padding:3px 0 3px 3px; height:24px; font-size:15px}







#frmContact textarea{ width:320px; height:100px;border:1px solid #d5d5d5; padding:3px; font-size:15px}







.content_page .note{ }



#frmContact .error{ color:red !important; font-size:12px;}











 .success{ color:#063;  font-size:12px; line-height:18px}











 #frmContact .btn{}



 #frmContact .btn input{ padding:5px 20px 5px 20px !important;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}



 #frmContact .note{ font-size:15px; font-style:italic}







 .productSeller{ overflow:hidden; padding:23px 0 23px 5px; position:relative;  background:url(../images/bg-slide.png) left top repeat-x; width:100% !important; margin-bottom:10px }















  .productSeller .acctive{ color:red}















.productSeller li{width:172px; overflow:hidden; float:left;  text-align:center; line-height:25px; font-weight:bold; margin:0 5px 0 4px;  height:162px; border:1px solid #878787; background:#FFF}















.productSeller li img{ height:125px; max-width:165px; margin:20px 0 0 0}















.productSeller ul{ overflow:hidden;width:2000px; margin:10px 0 0 10px}















.productSeller .btn-pre{ overflow:hidden; position:absolute; top:40px; left:0; width:20px; height:50px; cursor:pointer; background:url(../images/btn-pre1.png) center no-repeat}















.productSeller .btn-next{ overflow:hidden; position:absolute; top:40px; right:0; width:20px; height:50px; cursor:pointer; background:url(../images/btn-next1.html) center no-repeat}















.bg-popup{ overflow:hidden; position:absolute; top:0; left:0;width:100%;height:100%; background:url(../images/bg-popup.png); display:none;}















.popup{width:550px; height:510px;  overflow:hidden; background:#FFF;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px; position:relative; position:fixed; top:150px; left:50%; margin-left:-275px;}















.popup .close{width:25px; height:29px; position:absolute; top:2px; right:2px; background:url(../images/icon-close.png); cursor:pointer}















.content-popup{padding:10px; line-height:25px; text-align:justify; font-size:13px; overflow:auto; height:450px}















.title-popup{ line-height:32px; text-transform:uppercase; color:#FFF; background:#8d9292; padding-left:10px; font-weight:bold; text-align:left; text-align:center !important}















#detailPro{ overflow:hidden; color:#000}















#detailPro .left{width:200px; float:left; overflow:hidden; border-right:1px solid #CCC; text-align:center; padding-right:8px}















#detailPro .right{ overflow:hidden;width:300px; float:right;  }















#detailPro p{ overflow:hidden; clear:both; text-align:left}















#detailPro img{  border:1px solid #CCC; max-width:200px; margin-bottom:8px; max-height:180px}















#detailPro .left label{width:60px !important}















#detailPro label{width:120px; float:left; font-weight:bold}















#detailPro p{ overflow:hidden;}















#detailPro a{ color:#056b17}















#detailPro a:hover{ text-decoration:underline}















#detailPro .right p{ border-bottom:1px solid #eaeaea}















#detailPro u{ font-weight:bold}















#detailPro .description{ overflow:hidden; clear:both; line-height:25px; text-align:justify;padding-top:10px; clear:both}















.navi-user{ overflow:hidden; }















.navi-user li{ display:block; padding:0 0px 0 20px; font-weight:bold; line-height:28px; background:url(../images/minus.html) left center no-repeat}















.navi-user li:last-child{ border:none}















.navi-user li a:hover{ text-decoration:underline}















a.edit{ padding:10px; background:url(../images/edit.png) center no-repeat}















span.detail{ cursor:pointer}















span.delete{  background:url(../images/delete.png) center no-repeat; cursor:pointer; width:30px !important}



























.news-item{ overflow:hidden; clear:both; line-height:20px; text-align:justify;  margin:0px 0 20px 0; border-bottom:1px solid #f1f1f1; padding-bottom:20px}



.news-item img{width:478px; max-height:300px;  float:left; margin:3px 20px 0 0; }







.news-item h4{ margin-bottom:25px;}







.news-item h4 a{ font-size:24px; font-weight:normal; color:#1f1f1f;}



.news-item h4 a:hover{ color:#08739f}











.news-item .news-info{ line-height:25px; overflow:hidden; color:#b8b8b8}







.news-item .date{ background:url(../images/calender.png) left center no-repeat; padding:5px 0 5px 28px; margin-right:50px; }



.news-item .detail{ margin-top:40px}



.news-item .detail a{ color:#2695dc}







.news-item .sapo{ line-height:22px; text-align:justify; overflow:hidden; min-height:60px; margin-bottom:5px; font-size:14px}







.list-partner{ overflow:hidden; height:70px; border-top:3px solid #e2e2e2; padding-top:8px; position:relative}



.list-partner ul{width:5000px; overflow:hidden}





.list-partner li{ display:inline; float:left; overflow:hidden; border:1px solid #CCC; padding:1px; width:130px; height:66px; text-align:center; margin:0 10px 0 0; text-align:center}







.list-partner img{ height:66x; max-width:130px}













.list-news{ overflow:hidden; margin-bottom:10px}















.list-news .item{width:49%; float:left;}















.list-news .last{ float:right}















.list-news img{width:100px; height:90px; float:left; margin:3px 5px 0 0}















.list-news h4{ margin-bottom:5px}







.list-news a{ }



.newsSearch p{ margin:10px 0 5px 0}



















.block-header{ margin:8px 0 20px 0; display:block; clear:both;width:100%; float:left}







.product-cate{width:225px;  float:left; height:560px; background:#f3090c; padding:10px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px}







.product-cate .top{ height:37px; line-height:37px; background:url(../images/line.png) center repeat-x;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px; text-transform:uppercase; font-family:"Times New Roman", Times, serif; font-size:16px; margin-bottom:10px}















.product-cate li{ line-height:25px; text-align:left; background:url(../images/icon-li.png) left 6px no-repeat; padding:0 0 0 20px; border-bottom:1px dotted #FFF; position:relative}







.product-cate li:last-child{ border:none}







.product-cate a{ color:white;}



.product-cate a:hover{ text-decoration:underline}



.product-cate ul ul{ position:absolute; top:0; left:225px; background:#ff9c00; z-index:99999;width:210px; display:none}



.product-cate ul li:hover ul{ display:block}



.product-cate ul li li{ background:none}



.block-header .right{width:740px; float:right; overflow:hidden;}







.socia{ overflow:hidden;width:280px; float:right; text-align:right; color:#898989; }







.socia p{ overflow:hidden; line-height:35px}







.socia img{ float:right; margin:0 0px 0 10px}















.news-right{ overflow:hidden; margin:0 0 25px 0; line-height:20px; text-align:justify}







.news-right img{ width:100%; margin-bottom:8px}



.news-right h4{ margin-bottom:10px; line-height:18px}



.news-right a{ color:#7b7b7b; font-size:16px; font-weight:normal}



.news-right a:hover{ color:#2ba0ef}







.view-all a{ color:#f3090c; font-weight:bold}







.view-all a:hover{ text-decoration:underline}















.support-online{width:220px; position:fixed; bottom:-5px; right:5%; cursor:pointer; height:35px; line-height:30px; background:#87af34 url(../images/icon-mail2.png) 10px center no-repeat; padding-left:40px; text-align:left; font-size:15px;  color:white; z-index:99;webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}



.slide-support{ overflow:hidden;width:311px; position:fixed; bottom:-5px; right:5%; z-index:99; background:#87af34;webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px; display:none; padding:10px 0 0 0}



.slide-support .top{ line-height:30px; background:url(../images/icon-down.png) right center no-repeat; padding-left:10px; text-align:left; font-size:15px;  color:white; border-bottom:1px solid #739b20; cursor:pointer}



.slide-support .top span{ background:url(../images/icon-mail2.png) left center no-repeat; padding-left:30px; display:inline-block}



.listSupport{ overflow:hidden; padding:10px; line-height:25px;border-bottom:1px solid #739b20; margin-bottom:5px}



.supportFT{ text-align:justify; line-height:23px; color:white}







#frm-ct{ overflow:hidden; padding:10px}



#frm-ct .text{ color:white; line-height:22px; text-align:justify; margin-bottom:10px}



#frm-ct p{ overflow:hidden; margin-bottom:10px}



#frm-ct input, #frm-ct textarea{width:100%; padding:2px; height:22px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}



#frm-ct textarea{ height:100px}



#frm-ct #button{width:auto;width:100px; height:28px !important; line-height:28px; float:left; color:white; font-weight:bold; background:#436006; text-align:center; border:none; cursor:pointer; margin-left:15px}



#frm-ct #reset{width:auto;width:70px; height:28px !important; line-height:28px; float:left; color:white; font-weight:bold; background:#66871d; text-align:center; border:none; cursor:pointer; margin-left:15px}



.slide-partner{ overflow:hidden; height:120px;width:1204px; margin:auto}



.slide-partner ul{width:3000px; overflow:hidden}



.slide-partner li{width:1204px; height:80px; text-align:center; overflow:hidden; float:left; margin:10px 0px 0 0; }

.slide-partner .item{ overflow:hidden;width:180px; height:80px; border:1px solid; float:left;margin:0 8px 0 8px; text-align:center}

.slide-partner img{height:80px;margin:0 20px 0 20px;  }



.slide-partner .thumbs3{ height:20px; text-align:center; overflow:hidden; width:160px; margin:10px auto auto -80px; position:absolute; bottom:0; left:50%; z-index:88; }

.slide-partner .thumbs3 a{ margin-left:5px; width:13px !important; height:11px; background:url(../images/navi-slide-dt.png) center no-repeat;  float:none; display:inline-block;  text-indent:-99px;  }

.slide-partner .thumbs3 a:hover{}

.slide-partner .thumbs3 .thumbActive3{ background:url(../images/navi-slide-dt-active.png) center no-repeat;}



.intro-home{ overflow:hidden;width:1204px; margin:60px auto 30px auto; }



.intro-home .item{width:380px; overflow:hidden; margin:0 25px 0 0; float:left;}



.intro-home .img{ overflow:hidden; float:left;width:82px}



.intro-home .text{ overflow:hidden; float:right;width:290px; text-align:justify; line-height:25px; font-size:16px}



.intro-home .text h3{ margin-bottom:18px; font-size:27px; font-weight:normal; line-height:27px; text-align:left; font-family:Open Sans Light}



.intro-home .last{ float:right; margin-right:0}



.service-home{  padding:0px 0 0 0; border-bottom:none; margin:0 auto 30px auto; overflow:hidden;  }



.service-home .top{ font-size:31px; text-align:center; margin-bottom:30px; text-transform:uppercase}



.service-home .item{  height:200px; margin:10px 0 10px 19px;}

.service-home .last{ float:right; margin-right:0}

.service-home .view-more{ overflow:hidden; clear:both; text-align:right; margin:10px 0 0 0; color:#46adf0; line-height:30px}



.service-home .view-more a{ color:#46adf0}



.cateFooter{ overflow:hidden; background:#353d40; border-top:5px solid #8ec63f; margin-bottom:30px; padding:20px 0 20px 0}



.cateFooter .top{ text-align:left; color:white; height:45px; line-height:40px; font-size:17px; margin-bottom:10px; position:relative; margin-bottom:15px; overflow:hidden; }



.slide-cate .previous{ background:url(../images/pre-slide.png) center no-repeat}



.slide-cate .next{ background:url(../images/next-slide.png) center no-repeat}



.slide-cate .previous, .slide-cate .next{ float:right;width:44px; height:44px;  cursor:pointer; margin-left:10px}



.cateFooter .slide-cate{width:1204px !important; margin:auto; overflow:hidden}



.cateFooter ul{width:5000px; overflow:hidden; height:400px}

.cateFooter ul li{ display:inline; float:left; overflow:hidden; height:400px;width:1204px !important; }

.cateFooter .item{ display:inline; float:left;width:385px; margin:0 23px 0 0px; overflow:hidden; text-align: center; background:#FFF; height:400px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px}

.cateFooter .last{ float:right; margin-right:0}



.cateFooter li img{width:100%; height:257px; margin-bottom:10px}



.slide-cate .name{ font-size:24px; margin-bottom:10px}



.slide-cate .sapo{ line-height:25px; text-align:center; font-size:17px; padding:5px}



.slide-cate .thumbs{ height:20px; text-align:center; overflow:hidden; width:140px; margin:10px auto auto auto}

.slide-cate .thumbs a{ margin-left:5px; width:12px !important; height:11px; background:url(../images/navi-slide-cate.png) center no-repeat;  float:none; display:inline-block;  text-indent:-99px;  }

.slide-cate .thumbs a:hover{}

.slide-cate .thumbs .thumbActive{ background:url(../images/navi-slide-cate-active.png) center no-repeat;}



#box-cm{ background:#8ec63f; padding:20px 0 20px 0; color:white; overflow:hidden; margin-top:20px}



.slide-cm{width:1204px !important; height:130px; margin:auto; overflow:hidden; position:relative}



.slide-cm li{ overflow:hidden;width:1204px; float:left; display:inline; text-align:left; height:130px; }



.slide-cm .left{width:840px; float:left; line-height:25px; font-size:15px}



.slide-cm .avatar{width:150px; float:left; text-align:center}



.slide-cm img{}



.slide-cm .right{width:200px; float:right; padding-top:30px; font-size:15px}



.slide-cm .fullname{ font-size:17px; font-weight:bold; line-height:28px}



.slide-cm .cv{}



.slide-cm .thumbs2{ height:20px; text-align:center; overflow:hidden; width:200px; margin:10px auto auto -100px; position:absolute; bottom:0; left:50%; z-index:88}

.slide-cm .thumbs2 a{ margin-left:5px; width:13px !important; height:11px; background:url(../images/navi-slide-cm.png) center no-repeat;  float:none; display:inline-block;  text-indent:-99px;  }

.slide-cm .thumbs2 a:hover{}

.slide-cm .thumbs2 .thumbActive2{ background:url(../images/navi-slide-cm-active.png) center no-repeat;}





.view-more-web{ overflow:hidden; text-align:center; margin:20px 0 50px 0}







.listProCate{ overflow:hidden; margin:10px 0 30px 0;}



.listProCate .item{ display:inline; overflow:hidden; float:left;width:380px; margin:0 31px 0 0px; overflow:hidden; text-align: center;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px}



.listProCate .last{ float:right; margin-right:0}



.listProCate .item img{width:100%; height:257px; margin-bottom:10px}



.listProCate .name{ font-size:23px; margin-bottom:10px}



.listProCate .sapo{ line-height:25px; text-align:center; font-size:16px; padding:5px}



.title-large{ overflow:hidden; text-align:center; height:45px; line-height:45px; margin:20px 0 20px 0; text-transform:uppercase; font-size:31px}



.detailCate{ overflow:hidden; line-height:28px; text-align:justify; font-size:17px}







.listPartner{ overflow:hidden; margin:10px 0 10px 0}



.listPartner .item{width:278px; height:256px; float:left; margin:0 20px 0 0; text-align:center; background:url(../images/bg-partner.png) center no-repeat; background-size:100% 100%; border:0px solid}



.listPartner .img{  overflow:hidden; margin-bottom:10px;  margin:15px 0 10px 19px !important; height:170px; line-height:170px; width:275px;  text-align:center;border:0px solid ; display: table-cell; vertical-align: middle;border:0px solid}



.listPartner img{ vertical-align:middle ; max-width:270px}

.listPartner .name{ margin:0 10px 0 10px}

.listPartner a{ color:#7b7b7b; font-size:15px}



.list-product2{ overflow:hidden}



.list-product2 .item{ overflow:hidden; text-align:center; margin-bottom:20px; line-height:30px}



.list-product2 img{ max-width:100%}







.frmSendOrder{ overflow:hidden; border:1px solid;width:620px; margin:auto; position:fixed; top:100px; left:50%; margin:0 0 0 -310px; background:#FFF;-webkit-border-radius:5px;-moz-border-radius:5px;-border-radius:5px}



.frmSendOrder .close{width:35px; height:30px; cursor:pointer;  background:url(../images/close.png) center no-repeat; position:absolute; top:0; right:0}



#frmSendOrder{ margin:15px; text-align:left}



#frmSendOrder p{ overflow:hidden; line-height:25px; margin:10px 0 10px 0}



#frmSendOrder label{ font-weight:bold; float:left;width:150px}



#frmSendOrder label span{ color:red}



#frmSendOrder input,#frmSendOrder textarea{width:400px; padding:3px; border:1px solid #CCC}



#frmSendOrder textarea{ height:100px}



#frmSendOrder .button{ margin-left:150px; webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px}







table#tbl-hosting{  background:#f4f4f4; text-align:center; margin:0px 0 50px 0}



#tbl-hosting tr{ background:#FFF}







table#tbl-hosting td, table#tbl-hosting th{ padding:0px 0px 0px 0px; line-height:35px; color:#000; text-align:center; border-right:1px solid #dddddd}







table#tbl-hosting .name{ text-align: center; font-weight:bold;   text-transform:uppercase;width:100px; font-size:14px; font-weight:normal}







table#tbl-hosting .order{background:#0d579e; padding:5px 10px 5px 32px; cursor:pointer; color:white; font-weight:bold;-webkit-boder-radius:3px;-moz-border-radius:3px;border-radius:3px; font-size:14px}







table#tbl-hosting .price{ font-weight:bold; font-size:13px; color:white; height:70px; text-transform:uppercase; line-height:35px; padding:10px 0 10px 0; margin:0}



table#tbl-hosting .price span{ font-weight:bold; font-size:18px}



.price1{ background:#3da6bc}



.price2{ background:#a2da05}



.price3{ background:#ff9c00}



.price4{ background:#cd01b2}



.price5{ background:#e40e0e}



.price6{ background:black}



.price7{ background:red}



table#tbl-hosting th{ font-weight:normal}



table#tbl-hosting .bold{ font-weight:bold; font-size:14px}



table#tbl-hosting .color{ color:#feab38}



table#tbl-hosting .sendOrder{ background:#7b7b7b; color:white; font-weight:bold; text-transform:uppercase; cursor:pointer; display:inline-block;width:80%; height:35px; line-height:35px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px; margin-bottom:10px; font-size:13px}



table#tbl-hosting tr:nth-child(even){ background:#f4f4f4}



h3.title-host{ margin-bottom:0; text-align:center;color:#f5f08e; height:45px; line-height:45px; background:#0d579e ; margin-top:10px}







h3.title-host span.windows{background:url(publics/images/windows.html) left center no-repeat; padding:10px 0 10px 50px}















h3.title-host span.linux{background:url(publics/images/linux.html) left center no-repeat; padding:10px 0 10px 50px}



.hr{ margin-bottom:20px;}



.wrap-page{width:1204px; margin:auto; overflow:hidden}



.wrap-slide-cate2{ background:#f6f6f6; padding:40px 0 40px 0}

.slide-cate2 .previous{ background:url(../images/pre-slide-cate2.png) center no-repeat}



.slide-cate2 .next{ background:url(../images/next-slide-cate2.png) center no-repeat}



.slide-cate2 .previous, .slide-cate2 .next{ float:right;width:44px; height:44px;  cursor:pointer; margin-left:10px}

.slide-cate2 .top{ text-align:left; font-size:23px; line-height:40px; height:40px; margin-bottom:15px}

.slide-cate2{width:1204px !important; margin:auto; overflow:hidden}



.slide-cate2 ul{width:5000px; overflow:hidden; height:270px}

.slide-cate2 ul li{ display:inline; float:left; overflow:hidden; height:400px;width:1204px !important; }

.slide-cate2 .item{ display:inline; float:left;width:48%; margin:0 0px 0 0px; overflow:hidden; text-align: left; background:#FFF; height:257px;}

.slide-cate2 .last{ float:right; margin-right:0}



.slide-cate2 li img{width:50%; float:left; margin:10px 20px 0 5px}



.slide-cate2 .name{ font-size:24px; margin:7px 0 7px 0}



.slide-cate2 .sapo{ line-height:25px;font-size:17px; padding:5px; margin-bottom:15px}

.slide-cate2 .detail{ line-height:25px;font-size:13px; padding:7px 20px 7px 20px; color:#27a7f2; border:1px solid #c3e3fa;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}



.slide-cate2 .thumbs{ height:20px; text-align:center; overflow:hidden; width:140px; margin:10px auto auto auto}

.slide-cate2 .thumbs a{ margin-left:5px; width:12px !important; height:11px; background:url(../images/navi-slide-cate2.png) center no-repeat;  float:none; display:inline-block;  text-indent:-99px;  }

.slide-cate2 .thumbs a:hover{}

.slide-cate2 .thumbs .thumbActive{ background:url(../images/navi-slide-cate2-active.png) center no-repeat;}



#slider { overflow:hidden; height:357px;  position:relative; clear:both}

#slider li{ height:357px; text-align:center; position:absolute; top:0; left:0; overflow:hidden;width:100%}

#slider img{ height:357px; max-width:1204px}

